.wrapp {
    background-color: white;
    margin:40px auto;
    max-width: 1080px;
    border-radius: 20px;
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
        top: 0;
        background-color: rgba(0,0,0,0.4);
        
        .notAddedWrapp{
            text-align: center;          
            .emptyCartImg {
                width: 200px;
            }
        }
        .drawer {
            padding: 0 15px;
            .cartTop {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            position: absolute;
            right: 0;
            top: 0;
            width: 350px;
            height: 100%;
            background-color: #fff;
            .added {
                overflow: hidden;
                .item {
                    display: flex;
                    p {
                        font-size: 14px;
                    }
                    margin: 10px;
                    border: 1px solid #eaeaea;
                    border-radius: 20px;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    margin-top: 20px;
                    .addedItemImg {
                        width: 60px;
                        height: 60px;
                    }
                    .addedItemPrice {
                        font-weight: 600;
                    }
                }
            }
            .cartRemoveBtn {
                width: 30px;
                height: 30px;
                opacity: 0.3;
                &:hover {
                    opacity: 1;
                    transition: 0.3s;
                    cursor: pointer;
                }
            }
        }
        .finishPrice {
            display: flex;
            align-items: center;
            width: 100%;
            .dots {
                width: 55%;
                border-bottom: 1px dotted;
                margin: 10px 10px 0px 10px;
            }
        }
        .cartOrderBtn {
            background-color: #9dd558;
            color: #fff;
            font-size: 16px;
            border: none;
            border-radius: 18px;
            width: 100%;
            height: 55px;
            font-weight: 600;
            position: relative;
            &:hover {
                background-color: lighten(#9dd558, 10%);
                cursor:pointer;
                .orderBtnArrow {
                    transform: translateX(5px);
                }
            }
            &:active {
                background-color: darken(#9dd558, 10%)
            }
            .orderBtnArrow {
                position: absolute;
                right: 30px;
                top: 13px;
                width: 30px;
                transition: transform 0.5s;
            }
        }
    }
    .headerWrap {
        border-bottom: 1px #eaeaea solid;
        .header {
            margin-left: 5px;
            display: flex;
            justify-content: space-between;
            .logo {
                display: flex;
                .logotype {
                    display: flex;
                    align-items: center;
                }
                .logoImg {
                    margin-right: 10px;
                    width: 70px;
                    height: 70px;
                }
                .name {
                    .logoName {
                        font-weight: bold;
                    }
                }
            }
        .userBarWrapper {
            display: flex;
            align-items: center;
            margin-right: 20px;
            .userBar {
                display: flex;
                list-style-type: none;
                .likedItems {
                    .likedImg{
                        width: 30px;
                        height: 30px;
                        margin-right: 30px;
                        // border-radius: 25px;
                        border: 1px solid red;
                        border-radius: 5px;
                        &:hover {
                            cursor: pointer;
                            border-radius: 25px;
                            transition: all 0.6s ease-in;
                        }
                    }
                }
                .cartItem {
                    display: flex;
                    align-items: center;
                    margin-right: 10px;
                    cursor: pointer;
                }
                .cartImg {
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;

                    }
                }
            }
        }
        .likedItemsWrapper {
            width: 300px;
            height: auto;
            background-color: lightgrey;
            border-radius: 35px;
            position: absolute;
            padding: 0% 2%;
            right: 4%;
            .likedName{
                font-size: 19px;
                font-weight: 800;
            }
            .likedHeader {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1.4px solid black;
                .likedCloseBtn {
                    width: 25px;
                    height: 25px;
                    border-radius: 25px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .likedBody {
                padding: 5%;
                .likedItem {
                    display: flex;
                    border-bottom: 1px solid black;
                    padding: 2%;
                    .deleteLikedItem {
                        .likedDelImg{
                            width: 25px;
                            border-radius: 25px;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
    .content {
        .nameContent {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 40px;
            .searchField {
                display: flex;
                align-items: center;
                border: 1px solid #f2f2f2;
                border-radius: 20px;
                padding: 5px;

                .searchIcon {
                    padding: 0 5px 0 5px;
                    width: 15px;
                    height: 15px;
                }
                .contentSearchField {
                    width: 250px;
                    height: 25px;
                    border: none;
                    &:hover {
                        border: none;
                    }
                }
                .clearBtn {
                    width: 30px;
                    height: 30px;
                }
            }
        }
        .productCard {
            display: flex;
            .productItem {
                border: 1px solid #eaeaea;
                border-radius: 20px;
                max-width: 150px;
                margin: 15px;
                padding: 2%;
                &:hover {
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 10px;
                    transition: 0.2s ease-in box-shadow;
                    cursor: pointer;
                }
                .likeBtn {
                    width: 30px;
                    margin: 20px 20px;
                }
                .prodImg {
                    margin: 50% auto;
                    width: 100px;
                    height: 100px;
                    display: flex;
                }
                .productPriceDesc {
                    display: block;
                }
            }
            .cardBottom {
                margin: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                .addCartImg {
                    width: 20px;
                    height: 20px;
                    border: 1px solid #eaeaea;
                }
            }
        }
    }
}